header img{
  display: flex;
  justify-content: left;
  width: 100px;
  margin: 0;
  padding: 0;
}

header ul{
  display: flex;
  justify-content: right;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}